<div class="footer">
    <div class="u-row footer-top">
        <div class="u-col-md-3 u-col-sm-6 u-col-xs-12 footer-top-item">
            <p>
                <b>相关资源</b>
            </p>
            <ul>
                <li>
                    <a target="_blank" href="//mock.yonyoucloud.com/">Mock 接口管理平台</a>
                </li>
            </ul>
        </div>
        <div class="u-col-md-3 u-col-sm-6 u-col-xs-12 footer-top-item">
            <p>
                <b>社区</b>
            </p>
            <ul>
                <!-- <li>
                    <a target="_blank" href="//github.com/iuap-design/blog/issues">云平台体验技术团队BLOG</a>
                </li> -->
                <li>
                    MTL 官方技术交流群
                </li>

            </ul>
        </div>
        <div class="u-col-md-3 u-col-sm-6 u-col-xs-12 footer-top-item">
            <p>
                <b>帮助</b>
            </p>
            <ul>
                <!-- <li>
                    <a target="_blank" href="//github.com/tinper-bee">组件Github 源码</a>
                </li> -->
                <li>
                    <a target="_blank" href="//github.com/iuap-design/tinper-bee/releases">更新记录</a>
                </li>
                <li>
                    <a target="_blank" href="//github.com/iuap-design/tinper-bee/issues">常见问题</a>
                </li>
            </ul>
        </div>
        <div class="u-col-md-3 u-col-sm-6 u-col-xs-12 footer-top-item">
            <p>
                <b>联系我们</b>
            </p>
            <ul>
                <li>
                    <img src="//iuap-design-cdn.oss-cn-beijing.aliyuncs.com/static/tinper-bee/logo/address.png">
                    北京市海淀区北清路68号用友产业园</li>
                <li>
                    <img src="//iuap-design-cdn.oss-cn-beijing.aliyuncs.com/static/tinper-bee/logo/mail.png">
                    xyy@yonyou.com</li>
                <li class="weixin">
                    <a style='left: 0px'><em class="index-weixin">&nbsp;</em>扫描入群</a>
                    <div>
                        <img src='//mobile.yyuap.com/assets/images/weixin.a2fcd203.png' style='width:100px;height:100px;margin: 10px 20px;' />
                        <p style='margin:0px auto;text-align:center;text-indent:0;'>备注：mtl</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="u-row">
        <div class="u-col-md-12 u-col-sm-12 u-col-xs-12 footer-middle">
            <div class="footer-line"></div>
        </div>
        <div class="u-col-md-12 u-col-sm-12 u-col-xs-12 footer-base">
            <div class="footer-base-font">
                <p class="copy-right">版权所有：用友网络科技股份有限公司 2017 京ICP备05007539号-7 京ICP证100714号 京公网安备1101080209224号</p>
                <p class="produ">Powered by yonyou</p>
            </div>
        </div>
    </div>
</div>