<div class="u-row nav">
    <div class="u-col-md-5 nav-left">
        <span class="nav-logo ">
            <a href="/">
                <img src="//mobile.yyuap.com/assets/fonts/mtl.7b2f9353.svg">
                <!-- <span class='version'>V<%= latestVersion %></span> -->
            </a>
        </span>
        <span class="nav-split">|</span>
        <span class="nav-search">
            <div class="u-form-control-search u-form-control-affix-wrapper">
                <input id="componentSearch" placeholder="在mtl最佳实践文档 中搜索" class="u-form-control " />
                <div class="u-form-control-suffix">
                    <i class="uf uf-search"></i>
                </div>
            </div>
        </span>
    </div>
    <div class="u-col-md-7 nav-right">
        <ul class="nav-options">
            <li>
                <a  href="//mobile.yyuap.com/mtl/home/index.html">首页</a>
            </li>
            <li>
                <a href="#">最佳实践</a>
            </li>
            <li>
                <a class="first-show" href="//mtlapidocs201908061404.test.app.yyuap.com/">API Docs</a>
            </li>
            <li>
                <a href="//mobile.yyuap.com/mtl/download/">下载中心</a>
            </li>
            <li>
                <a href="//mobile.yyuap.com/mtl/prepaper/">典型案例</a>
            </li>
        </ul>
    </div>
</div>

<div class="mob-nav">
    <a href="/">
        <img src='//design.yonyoucloud.com/static/tinper-bee/logo/iuapdesign.svg' />
        <!-- <span class='version'>当前 <%= latestVersion %></span> -->
    </a>
    <span class="uf uf-navmenu" onclick="displayOrHide()"> 
        <ul id="itemList0">
            <li><a href="//mobile.yyuap.com/mtl/home/index.html" >首页</a></li>
            <li ><a href="#">最佳实践</a></li>
            <li class="basecomp"><a class="first-show" href="//mtlapidocs201908061404.test.app.yyuap.com/">API Docs</a></li>
            <li><a href="//mobile.yyuap.com/mtl/download/">下载中心</a></li>
            <a href="//mobile.yyuap.com/mtl/prepaper/">典型案例</a>
        </ul>
    </span>
</div>

<script>
    
    var select = document.querySelector('#selectLang');
    var selectList = document.querySelector('#selectList');
    var selectOptions = selectList.querySelectorAll('.u-select-dropdown-menu-item');

    function langShowHide(hide) {
        var select = document.querySelector('#selectLang');
        var selectList = document.querySelector('#selectList');
        try {
            var cls = selectList.getAttribute('class');
            if (hide) {
                selectList.setAttribute('class', 'select-list');
                select.setAttribute('class', 'u-select u-select-focused u-select-enabled');
            } else {
                if (cls.indexOf('open') != -1) { //打开状态
                    selectList.setAttribute('class', 'select-list');
                    select.setAttribute('class', 'u-select u-select-focused u-select-enabled');
                } else { //关闭状态
                    selectList.setAttribute('class', 'select-list open');
                    select.setAttribute('class', 'u-select u-select-open u-select-focused u-select-enabled');
                }
            }
        } catch (error) {
            
        }
        
    }
    select.onclick = function() {
        langShowHide()
    };
    selectOptions.forEach(item => {
        item.onclick = () => {
            langShowHide(true)
        };
    })
    
    //移动端适配
    var hide=true;
    function displayOrHide(){
        var itemList=document.getElementById("itemList0");
        if(hide){
            //显示
            itemList.style.display="block";
            hide=false;
        }else{
            //隐藏
            itemList.style.display="none";
            hide=true;
        }
    }
</script>